* { margin-top: 0; }
body { margin: 1rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; vertical-align: text-top; width: fit-content; max-width: max-content; }
em { color: #009900; }
a { text-decoration: none; color: inherit; }
a:hover { text-decoration: underline ;}
header, footer { text-align: center; }
header * { margin-bottom: 0; }
p { font-family: serif; font-style: italic; font-size: .9rem; }
ol { padding-left: 1.33rem; }
li { border: thin inset; padding-left: .16rem; margin-bottom: .25rem; max-height: 1.2rem; vertical-align: middle; cursor:grab; }
li:hover { border: red thin outset; }
label { opacity: 75%; white-space: nowrap; }
input:checked + label { opacity: 100%; }
label input { opacity: 66%; }
input:checked + label input { opacity: 100%; }
div.more { text-indent: -1.5rem; margin: .5rem 1.5rem; font-size: 80%;}
div.more::first-line { font-size: 125%; }
section { display: inline-block; width:14rem; min-height: 18rem; margin: .4rem .3rem; border:outset; padding: .5rem; vertical-align: top; }
section div { min-height: 1.33rem; }
section.wider { width: 16rem; }
select { color:#cc6600; }
.writein { font: smaller cursive; border: none; border-bottom: thin #888888 solid; width: 7rem; }
li .writein { width: 8rem; }
.dragging { background-color: lightblue; }
